doctype html
html(lang="en")
  head
    include ./meta
    title="icons.js | 专门用来显示 svg 图标的 JavaScript 小工具。"
    include ./preload
    include ./style
  body
    div#docs.docs
      include ./aside
      include ./main
    include ./script
