main#main.main
  include ./header

  include ./cdn
  include ./download

  section.section
    header.section__header
      h2.section__title Icons
    div.section__content
      p icons.js 的提供了 60 个内置 svg 图标：
    div.section__content.section_grids
      include ./icons

  article#article
    include ./methods/section

  include ./footer
