meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="icon.js,JavaScript,svg,icon,Toolkit")
meta(name="description" content="icon.js - 专门用来显示 svg 图标的 JavaScript 小工具。")
link(rel="shortcut icon" href="./favicon.ico")
