section.section
  header.section__header
    h2.section__title Methods
  div.section__content
    p icons.js 的提供了 9 个公共方法：
  include add
  include appendTo
  include clear
  include count
  include createElement
  include icon
  include paint
  include remove
  include symbols
